
.floatOptions {
  position: absolute;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 4px;
  top: -10px;
  right: 10px;
  opacity: 0;
}





.messageItem {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  transition: background-color 0.2s;
  padding-left: 10px;
  padding-right: 10px;
  
  .messageStatus {
    position: absolute;
    left: 19px;
    bottom: 3px;
  }
  
  .messageItemOuterContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;

  }

  .messageItemContainer {
    display: flex;
    flex-direction: column;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    .messageContainer .compactDate {
      display: block;
    }
    .floatOptions {
      opacity: 1;
    }
  }
  .details {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 3px;
    &:after {
      content: "";
      position: absolute;
      left: 15px;
      top: 33px;
      bottom: -18px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.2);
    }
    .username {
      margin-left: 5px;
      font-size: 14px;
      font-weight: bold;
    }
    .date {
      color: rgba(255, 255, 255, 0.6);
      margin-left: auto;
      font-size: 12px;
    }
  }
  .messageContainer {
    position: relative;
    display: flex;
    .content {
      margin: 3px;
      margin-bottom: 2px;
      margin-top: 0;
      margin-left: 35px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      word-break: break-word;
    }
    .compactDate {
      position: absolute;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 4px;
      padding: 3px;
      display: none;
      font-size: 12px;
      color: white;
      margin-left: auto;
      flex-shrink: 0;
    }

  }
  &.compact {
    &:after {
      content: "";
      position: absolute;
      left: 25px;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.2);
    }
    .content {
      margin: 2px;
        margin-left: 35px;
    }
  }
  &[data-animate] .messageItemContainer {
    transform: translateY(100%);
    animation-name: goUp;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}









@keyframes goUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}