.button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 10px;
  flex-shrink: 0;
  margin: 5px;
  cursor: pointer;
}

.label {
  margin-left: 5px;
}