.sidePane {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  width: 70px;
  flex-shrink: 0;
}

.serverList {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.scrollable {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding-top: 2px;
  align-items: center;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  width: 60px;
  height: 47px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 2px;
  margin-bottom: 2px;
  user-select: none;
  
  &:hover,
  &[selected] {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 3px;
    border-radius: 3px;
    height: 15px;
    transition: 0.2s;
  }  
  &[selected]:after {
    background-color: var(--primary-color);
  }  
}

.avatar {
  height: 45px;
  width: 45px;
  border-radius: 45px;
  flex-shrink: 0;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}